# Виртуальное окружение
.venv/

# Кэш Python
__pycache__/
*.pyc

# Сборочные артефакты
dist/
build/
*.egg-info/

# Файлы зависимостей менеджеров пакетов
uv.lock
pip-wheel-metadata/

# Логи и временные файлы
*.log
*.tmp
*.cast

# Файлы редакторов / IDE
.vscode/

# macOS служебные файлы
.DS_Store

# Ruff кэш
.ruff_cache/
