# Виртуальное окружение
.venv/

# Кэш Python
__pycache__/

# Сборочные артефакты
dist/
build/
*.egg-info/

# Файлы зависимостей менеджеров пакетов
uv.lock
pip-wheel-metadata/

# Логи и временные файлы
*.log
*.tmp

# Файлы редакторов / IDE
.vscode/
